> # DataFrame.style
> ---

In [1]:
import pandas as pd 
import numpy  as np

In [2]:
df = pd.DataFrame(np.random.randint(0,11,size=(10, 6)), columns=list('ABCDEF'))
df.head()

   A   B  C  D  E  F
0  7  10  7  6  7  3
1  4   1  6  1  1  9
2  3   2  0  5  0  7
3  4   8  5  8  9  5
4  5   8  0  8  0  4

In [3]:
def highlight(val):
    if 0 <= val <= 4:
        return 'background-color: lightcoral'
    elif 4 < val <= 7:
        return 'background-color: lightyellow'
    else:
        return 'background-color: lightgreen'

In [4]:
df.head().style.applymap(highlight)