In [27]:
#### Tratativa ################################
import pandas            as pd
import numpy             as np
import statistics        as st
import datetime          as dt
import calendar

pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',150)
pd.set_option('display.max_colwidth',150)

### Visualização ##############################
import matplotlib.pyplot as plt
from matplotlib          import cm
import seaborn           as sns

plt.style.use('bmh')
sns.set_style('darkgrid')
sns.set(font_scale = 1.2)

### Machine Learning #########################
from sklearn.cluster                import KMeans
from sklearn.preprocessing          import MinMaxScaler
from sklearn.metrics                import classification_report, confusion_matrix, roc_curve, auc, roc_auc_score
from sklearn.model_selection        import train_test_split, KFold, RandomizedSearchCV
from sklearn                        import preprocessing, metrics
from sklearn.feature_selection      import SelectKBest, chi2
from sklearn.linear_model           import LogisticRegression
from sklearn.ensemble               import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier

### Warnings #########################
import warnings
warnings.filterwarnings("ignore")

**DESAFIO**

Escolhemos para você uma base de dados de venda de produtos no e-commerce. A sua
missão é construir um dashboard com o máximo de insights sobre **a satisfação dos
clientes que compram no e-commerce no Brasil.**

<img src="../Schema.png">

In [2]:
lista_df = 'REVIEWS PAYMENT ORDERS CUSTOMER PRODUCTS ITEMS SALLER GEOLOCATION'.split()

In [3]:
REVIEWS = pd.read_csv('../DADOS/olist_order_reviews_dataset.csv')   # REVIEWS
PAYMENT = pd.read_csv('../DADOS/olist_order_payments_dataset.csv')  # PAYMENT
ORDERS = pd.read_csv('../DADOS/olist_orders_dataset.csv')           # ORDERS 
CUSTOMER = pd.read_csv('../DADOS/olist_customers_dataset.csv')      # CUSTOMER
PRODUCTS = pd.read_csv('../DADOS/olist_products_dataset.csv')       # PRODUCTS
ITEMS = pd.read_csv('../DADOS/olist_order_items_dataset.csv')       # ITEMS
SALLER = pd.read_csv('../DADOS/olist_sellers_dataset.csv')          # SALLER
GEOLOCATION = pd.read_csv('../DADOS/olist_geolocation_dataset.csv') # GEOLOCATION

In [4]:
for df in lista_df:
    print(df)
    display(globals()['{}'.format(df)].head(1))

REVIEWS

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59

PAYMENT

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33

ORDERS

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

CUSTOMER

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP

PRODUCTS

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0

ITEMS

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29

SALLER

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP

GEOLOCATION

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP

<!-- # REVIEWS['order_id'] > PAYMENT['order_id'] > ORDERS['order_id'] > ITEMS['order_id']
# ORDERS['customer_id'] > CUSTOMER['customer_id']
# ITEMS['product_id'] > PRODUCTS['product_id']
# ITEMS['seller_id'] > SALLER['saller_id'] -->

In [5]:
print('Número de ordens únicas:', ORDERS['order_id'].nunique())
print('Número de registros no df ordens:', ORDERS.shape[0])

Número de ordens únicas: 99441
Número de registros no df ordens: 99441

In [6]:
for df in lista_df:
    for columns in globals()['{}'.format(df)].columns:
        print(df, columns, globals()['{}'.format(df)][columns].duplicated().sum())
    print('\n')

REVIEWS review_id 827
REVIEWS order_id 559
REVIEWS review_score 99995
REVIEWS review_comment_title 95399
REVIEWS review_comment_message 63078
REVIEWS review_creation_date 99363
REVIEWS review_answer_timestamp 990


PAYMENT order_id 4446
PAYMENT payment_sequential 103857
PAYMENT payment_type 103881
PAYMENT payment_installments 103862
PAYMENT payment_value 74809


ORDERS order_id 0
ORDERS customer_id 0
ORDERS order_status 99433
ORDERS order_purchase_timestamp 566
ORDERS order_approved_at 8707
ORDERS order_delivered_carrier_date 18422
ORDERS order_delivered_customer_date 3776
ORDERS order_estimated_delivery_date 98982


CUSTOMER customer_id 0
CUSTOMER customer_unique_id 3345
CUSTOMER customer_zip_code_prefix 84447
CUSTOMER customer_city 95322
CUSTOMER customer_state 99414


PRODUCTS product_id 0
PRODUCTS product_category_name 32877
PRODUCTS product_name_lenght 32884
PRODUCTS product_description_lenght 29990
PRODUCTS product_photos_qty 32931
PRODUCTS product_weight_g 30746
PRODUCTS product_length_cm 32851
PRODUCTS product_height_cm 32848
PRODUCTS product_width_cm 32855


ITEMS order_id 13984
ITEMS order_item_id 112629
ITEMS product_id 79699
ITEMS seller_id 109555
ITEMS shipping_limit_date 19332
ITEMS price 106682
ITEMS freight_value 105651


SALLER seller_id 0
SALLER seller_zip_code_prefix 849
SALLER seller_city 2484
SALLER seller_state 3072


GEOLOCATION geolocation_zip_code_prefix 981148
GEOLOCATION geolocation_lat 282803
GEOLOCATION geolocation_lng 282550
GEOLOCATION geolocation_city 992152
GEOLOCATION geolocation_state 1000136

In [7]:
df = pd.merge(ORDERS, PAYMENT, how='left', on='order_id')
df = df.merge(ITEMS, how='left', on='order_id')
df = df.merge(REVIEWS, how='left', on='order_id')

df = pd.merge(df, CUSTOMER, how='left', on='customer_id')

df = pd.merge(df, PRODUCTS, how='left', on='product_id')

df = pd.merge(df, SALLER, how='left', on='seller_id')

In [8]:
date_columns = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date',
                'order_delivered_customer_date', 'order_estimated_delivery_date', 'shipping_limit_date',
                'review_creation_date', 'review_answer_timestamp']

In [9]:
for column in date_columns:
    df[column] = pd.to_datetime(df[column])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119151 entries, 0 to 119150
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119151 non-null  object
 1   customer_id                    119151 non-null  object
 2   order_status                   119151 non-null  object
 3   order_purchase_timestamp       119151 non-null  datetime64[ns]
 4   order_approved_at              118974 non-null  datetime64[ns]
 5   order_delivered_carrier_date   117065 non-null  datetime64[ns]
 6   order_delivered_customer_date  115730 non-null  datetime64[ns]
 7   order_estimated_delivery_date  119151 non-null  datetime64[ns]
 8   payment_sequential             119148 non-null  float64
 9   payment_type                   119148 non-null  object
 10  payment_installments           119148 non-null  float64
 11  payment_value                  119148 non-null  float64
 12  order_item_id                  118318 non-null  float64
 13  product_id                     118318 non-null  object
 14  seller_id                      118318 non-null  object
 15  shipping_limit_date            118318 non-null  datetime64[ns]
 16  price                          118318 non-null  float64
 17  freight_value                  118318 non-null  float64
 18  review_id                      119151 non-null  object
 19  review_score                   119151 non-null  int64
 20  review_comment_title           14189 non-null   object
 21  review_comment_message         51250 non-null   object
 22  review_creation_date           119151 non-null  datetime64[ns]
 23  review_answer_timestamp        119151 non-null  datetime64[ns]
 24  customer_unique_id             119151 non-null  object
 25  customer_zip_code_prefix       119151 non-null  int64
 26  customer_city                  119151 non-null  object
 27  customer_state                 119151 non-null  object
 28  product_category_name          116609 non-null  object
 29  product_name_lenght            116609 non-null  float64
 30  product_description_lenght     116609 non-null  float64
 31  product_photos_qty             116609 non-null  float64
 32  product_weight_g               118298 non-null  float64
 33  product_length_cm              118298 non-null  float64
 34  product_height_cm              118298 non-null  float64
 35  product_width_cm               118298 non-null  float64
 36  seller_zip_code_prefix         118318 non-null  float64
 37  seller_city                    118318 non-null  object
 38  seller_state                   118318 non-null  object
dtypes: datetime64[ns](8), float64(14), int64(2), object(15)
memory usage: 36.4+ MB

In [12]:
df.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,payment_installments,payment_value,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,credit_card,1.0,18.12,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio correto e em boas condições. Apenas a caixa que veio bem amassada e danificada, o que ficará chato, pois ...",2017-10-11,2017-10-12 03:43:48,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,9350.0,maua,SP

In [42]:
df['order_purchase_timestamp'].dt.hour.value_counts()

16    8072
14    8000
11    7861
13    7793
15    7711
10    7444
17    7351
20    7334
21    7332
12    7277
19    7074
22    7000
18    6945
9     5723
23    4940
8     3547
0     2934
7     1435
1     1377
2      616
6      575
3      328
4      256
5      226
Name: order_purchase_timestamp, dtype: int64

In [ ]:
# ## Create new columns for date,day,time,month:
# order['weekday']=order['order_purchase_timestamp'].dt.weekday_name
# order['year']=order['order_purchase_timestamp'].dt.year
# order['monthday']=order['order_purchase_timestamp'].dt.day
# order['weekday'] = order['order_purchase_timestamp'].dt.weekday
# order['month']=order['order_purchase_timestamp'].dt.month
# order['hour']=order['order_purchase_timestamp'].dt.hour