> # Dicion√°rio de DataFrames

In [1]:
import pandas            as pd

In [2]:
# paths dos arquivos
paths = {'customers'    : '../DADOS/olist_customers_dataset.csv',
         'geolocation'  : '../DADOS/olist_geolocation_dataset.csv',
         'items'        : '../DADOS/olist_order_items_dataset.csv',
         'payment'      : '../DADOS/olist_order_payments_dataset.csv',
         'orders'       : '../DADOS/olist_orders_dataset.csv',
         'products'     : '../DADOS/olist_products_dataset.csv',
         'sellers'      : '../DADOS/olist_sellers_dataset.csv',
         'review'       : '../DADOS/olist_order_reviews_dataset.csv'}

dfs = {}

for key, dataframe in paths.items():
    dfs[key] = pd.read_csv(dataframe)

In [3]:
dfs.keys()

dict_keys(['customers', 'geolocation', 'items', 'payment', 'orders', 'products', 'sellers', 'review'])

In [4]:
dfs['customers'].head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP

In [5]:
dfs['geolocation'].head(1)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP

In [6]:
dfs['sellers'].head(1)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP

In [7]:
dfs['payment'].head(1)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33