> # DataFrame.style
> ---

In [1]:
import pandas as pd 
import numpy  as np

In [2]:
df = pd.DataFrame(np.random.randint(0,11,size=(5, 10)), columns=list('ABCDEFGHIJ'))
df

   A  B  C   D   E  F  G   H   I  J
0  6  5  4   6   7  9  3   4   0  1
1  7  8  8   7  10  6  4   5   7  1
2  5  3  9  10   8  8  9  10  10  6
3  4  7  5   8   4  1  5   7  10  9
4  8  7  4   9   7  1  5   6   2  2

In [3]:
def highlight(val):
    if 0 <= val <= 4:
        return 'background-color: lightcoral'
    elif 4 < val <= 7:
        return 'background-color: lightyellow'
    else:
        return 'background-color: lightgreen'

In [4]:
df.style.applymap(highlight)